.body{
    position: relative;
    background-color: rgb(235, 200, 255);
    width: 100%;
    height: 100%;
}
.titulo{
    position: absolute;
    top: 2vi;
    left: 4vi;
    font-size: 2.5vi;
    font-family:cursive;
    color: white;
}
.enlace1{
    position: absolute;
    top: 14vi;
    left: 4vi;
    font-size: 1.8vi;
    font-family:cursive;
    color:rgb(235, 200, 255);
    text-decoration: none;
    
}
.enlace2{
    position: absolute;
    top: 19vi;
    left: 4vi;
    font-size: 1.9vi;
    font-family:cursive;
    color: white;
    text-decoration: none;
    
}
.enlace3{
    position: absolute;
    top: 24vi;
    left: 4vi;
    font-size: 1.9vi;
    font-family:cursive;
    color: white;
    text-decoration: none;    
}
.enlace4{
    position: absolute;
    top: 29vi;
    left: 4vi;
    font-size: 1.9vi;
    font-family:cursive;
    color: white;
    text-decoration: none;
    
}
.enlace5{
    position: absolute;
    top: 39vi;
    left: 4vi;
    font-size: 2vi;
    font-family:cursive;
    color: white;
    text-decoration: none;
    
}
.num3{
    position: absolute;
    top: 39vi;
    left: 12vi;
    font-size: 2vi;
    font-family:cursive;
    color:rgb(235, 200, 255);
    text-decoration: none;
}
.recuadro1{
    position: absolute;
    width: 17vi;
    height: 3vi;
    top: 13.5vi;
    left: 2.55vi;
    background-color: white;

}
.recuadro2{
    position: absolute;
    width: 2.5vi;
    height: 2.5vi;
    top: 38.8vi;
    left: 11.2vi;
    background-color: white;

}
.footer{
    position: absolute;
    top: 48vi;
    left: 4vi;
    font-size: 1.3vi;
    color: white;
}
.cuadrop{
    position: absolute;
    background-color: white;
    width: 75vi;
    height: 45vi;
    left: 22vi;
    top: 2.5vi;
    border-radius: 20px;

}


.borde1{
    position: absolute;
    width:10.98vi;
    height: 14.83vi;
    margin-left: 13.92%;
    margin-top: 3.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro1{
    position: absolute;
    width:14.5%;
    margin-left: 14%;
    margin-top: 4%;
    border-color: black;
    border-radius: 10px;
}
.informacion1{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 20vi;
    left: 11vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;



}
.boton1{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 3vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;


}

.borde2{
    position: absolute;
    width:10.97vi;
    height: 14.83vi;
    margin-left: 32.95%;
    margin-top: 3.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro2{
    position: absolute;
    width:14.5%;
    height: 14.7vi;
    margin-left: 33%;
    margin-top: 4%;
    border-color: black;
    border-radius: 10px;
}

.informacion2{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 20vi;
    left: 25.5vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;


}
.boton2{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;

}



.borde3{
    position: absolute;
    width:10.99vi;
    height: 14.83vi;
    margin-left: 52.95%;
    margin-top: 3.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro3{
    position: absolute;
    width:14.5%;
    height: 14.7vi;
    margin-left: 53.05%;
    margin-top: 4%;
    border-color: black;
    border-radius: 10px;
}
.informacion3{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 20vi;
    left: 40.5vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;



}
.boton3{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;


}


.borde4{
    position: absolute;
    width:10.97vi;
    height: 14.83vi;
    margin-left: 72.95%;
    margin-top: 3.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro4{
    position: absolute;
    width:14.5%;
    height: 14.7vi;
    margin-left: 73%;
    margin-top: 4%;
    border-color: black;
    border-radius: 10px;
}
.informacion4{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 20vi;
    left: 55.5vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;



}
.boton4{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;


}

.borde5{
    position: absolute;
    width:10.98vi;
    height: 14.83vi;
    margin-left: 13.95%;
    margin-top: 29.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro5{
    position: absolute;
    width:14.5%;
    height: 14.75vi;
    margin-left: 14.05%;
    margin-top: 30%;
    border-color: black;
    border-radius: 10px;
}
.informacion5{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 39.5vi;
    left: 11vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;



}
.boton5{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;


}

.borde6{
    position: absolute;
    width:10.97vi;
    height: 14.83vi;
    margin-left: 32.95%;
    margin-top: 29.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro6{
    position: absolute;
    width:14.5%;
    height: 14.75vi;
    margin-left: 33%;
    margin-top: 30%;
    border-color: black;
    border-radius: 10px;
}
.informacion6{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 39.5vi;
    left: 25.3vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;



}
.boton6{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;


}


.borde7{
    position: absolute;
    width:10.99vi;
    height: 14.83vi;
    margin-left: 52.95%;
    margin-top: 29.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro7{
    position: absolute;
    width:14.5%;
    height: 14.75vi;
    margin-left: 53.05%;
    margin-top: 30%;
    border-color: black;
    border-radius: 10px;
}
.informacion7{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 39.3vi;
    left: 40.3vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;



}
.boton7{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;

}


.borde8{
    position: absolute;
    width:10.97vi;
    height: 14.83vi;
    margin-left: 72.95%;
    margin-top: 29.95%;
    border-color: black;
    background-color: black;
    border-radius: 10px;
}
.cuadro8{
    position: absolute;
    width:14.5%;
    height: 14.73vi;
    margin-left: 73%;
    margin-top: 30%;
    border-color: black;
    border-radius: 10px;
}
.informacion8{
    position: absolute;
    width: 10vi;
    height: 5vi;
    top: 39.3vi;
    left: 55.5vi;
    border-color: black;
    background-color: white;
    font-size: 1vi;


}
.boton8{
    position: absolute;
    width: 3vi;
    height: 1.5vi;
    left: 5vi;
    top: 2vi;
    background-color: rgb(235, 200, 255);;
    cursor: pointer;
    font-size: 1vi;

}
.todos{
    margin-left: 11vi;
    margin-top: 0%;
    font-size: 2vi;
    color: rgb(235, 200, 255);
}









