<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stylecamisetas.css">
    <title> Camisetas </title>
</head>

<body class="body">

    <div> 
    <div class="titulo"> CampusShop</div>
    <div > <a href="Index.html" class="enlace1"> Todos los productos </a></div>
    <div > <a href="./indexabrigos.html" class="enlace2"> Abrigos</a></div>
    
    <div > <a href="./indexpantalones.html" class="enlace4"> Pantalones</a></div>
    <div > <a href="./indexcarrito.html" class="enlace5"> Carritos</a></div>
    <div class="num3">3</div>
    <div class="recuadro1"> </div>
    <div > <a href="./indexcamisetas.html" class="enlace3"> Camisetas</a></div>
    <div class="recuadro2"> </div>
    <div class="num3">3</div>
    <footer class="footer">
        &copy; <em  class="footer"></em> 2023 Camper
      </footer>
    
    </div>

    <div class="cuadrop">
        <div class="borde3"> </div>
        <div> <img src="/storage/img/camiseta1.webp" alt="" class="cuadro3">
            <div class="informacion3"> Camiseta De Compresión En Licra Uv Slim <br> 38000
                <div class="boton3" > Agregar</div></div>
        <div class="borde4"></div>
        <div> <img src="/storage/img/camiseta2.webp" alt="" class="cuadro4">
            <div class="informacion4"> Camiseta Tipo Polo Color Dama Mujer <br> 26255
                <div class="boton4" > Agregar</div></div>
    </div>




    
</body>
</html>