<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylecarritovacio.css">
    <title> Carrito de compras  </title>
</head>

<body class="body">

    <div> 
    <div class="titulo"> CampusShop</div>
    <div > <a href="/Index.html" class="enlace1"> Todos los productos </a></div>
    <div > <a href="./indexabrigos.html" class="enlace2"> Abrigos</a></div>
    <div > <a href="./indexcamisetas.html" class="enlace3"> Camisetas</a></div>
    <div > <a href="./indexpantalones.html" class="enlace4"> Pantalones</a></div>
    <div class="num3">3</div>
    <div class="recuadro1"> </div>
    <div > <a href="./indexcarrito.html" class="enlace5"> Carritos</a></div>
    <div class="recuadro2"> </div>
    <div class="num3">0</div>
    <footer class="footer">
        &copy; <em  class="footer"></em> 2023 Camper
      </footer>
    
    </div>


    <div class="cuadrop"> 
        <div class="textocarrito"> Carrito</div>
        <div class="textocarrito1"> Tu carrito esta vacio :(</div>
        <div class="cuadro1"> </div>
        <div class="cuadro2"> </div>
        <div class="cuadro4"> </div>
    </div>




    
</body>
</html>